<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/skydrive/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="/skydrive/stylesheets/normalize.css">
  <link rel="stylesheet" href="/skydrive/stylesheets/app.css">
  <script src="/skydrive/javascripts/vendor/jquery.js"></script>
  <script src="/skydrive/javascripts/vendor/handlebars.js"></script>
  <script src="/skydrive/javascripts/vendor/ember.js"></script>
	<title>Sky Drive</title>
</head>
<body>
  <script type="text/javascript" charset="utf-8">
    window.ENV = <%= raw @env.to_json %>;
  </script>
  <script src="/skydrive/javascripts/application.js"></script>
</body>
</html>

