<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/assets/skydrive/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/skydrive/normalize.css">
  <link rel="stylesheet" href="/assets/skydrive/app.css">
  <script src="/assets/skydrive/vendor/jquery.js"></script>
  <script src="/assets/skydrive/vendor/handlebars.js"></script>
  <script src="/assets/skydrive/vendor/ember.js"></script>
	<title>Sky Drive</title>
</head>
<body>
  <script type="text/javascript" charset="utf-8">
    window.ENV = <%= raw @env.to_json %>;
  </script>
  <script src="/assets/skydrive/application.js"></script>
</body>
</html>

