.bundle/
log/*.log
jsapp/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

foundation/.sass-cache

#ignore configuration files
*.yml
NOTES.txt
.idea
jsapp/.idea