.bundle/
log/*.log
jsapp/*.log
pkg/


spec/test_app/db/*.sqlite3
spec/test_app/db/*.sqlite3-journal
spec/test_app/log/*.log
spec/test_app/tmp/
spec/test_app/.sass-cache

foundation/.sass-cache

#ignore configuration files
*.yml
NOTES.txt
.idea
jsapp/.idea
