<nav class="top-bar">
  <img src="https://p.sfx.ms/images/SkyDriveLogoLight.png" />
</nav>

<ul class="breadcrumbs">
  <li>&nbsp;</li>
</ul>

<p class="text-center">
  You're not in a system that supports automated LTI authentication.<br/>This is likely due to the app not being launched with an LMS iframe.
</p>
