defaults: &defaults
  guid: 00000003-0000-0ff1-ce00-000000000000

development:
  <<: *defaults
  client_id: 00a878a3-fde7-47a3-9c89-3c9912e6bb83
  client_secret: MO2cbtapMB22kKEKqNsTDTVUN0vwS1vNjqaCG+NejaI=

test:
  <<: *defaults
  client_id: 00a878a3-fde7-47a3-9c89-3c9912e6bb83
  client_secret: MO2cbtapMB22kKEKqNsTDTVUN0vwS1vNjqaCG+NejaI=

production:
  <<: *defaults
  client_id: 00a878a3-fde7-47a3-9c89-3c9912e6bb83
  client_secret: MO2cbtapMB22kKEKqNsTDTVUN0vwS1vNjqaCG+NejaI=
