<!DOCTYPE html>
<html>
<head>
  <title>Skydrive</title>
  <%= stylesheet_link_tag    "skydrive/application", media: "all" %>
  <%= javascript_include_tag "skydrive/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
